<!doctype html>
<html lang="{{- .Site.LanguageCode | default "en-us" -}}">

  <head>
    {{ partial "head/meta" . }}
    {{ partial "content-security-policy" . }}
    {{ partial "head/seo" . }}
    {{ partial "head/preload" . }}
    {{ partial "head/icons" . }}
    {{ partial "head/styles" . }}
    {{ block "head" . -}}{{- end }}
    <title>
      {{- if .IsHome -}}
      {{- .Site.Title -}}
      {{- else -}}
      {{- printf "%s %s %s" .Title .Site.Params.title_separator .Site.Title -}}
      {{- end -}}
    </title>
  </head>

  <body>
    <input type="checkbox" id="app-header" class="toggle" />
    <label for="app-header" class="toggle"><span /></label>
    <header class="app-header">
      <span>
        <a href="/">
          {{- $image := resources.Get .Site.Author.image -}}
          {{- if not $image -}}
          {{- $image = resources.Get "images/placeholders/avatar.jpg" -}}
          {{- end -}}
          <figure class="app-header-avatar">
            {{- partial "picture.html" (dict "image" $image "title" .Site.Author.displayname "alt" .Site.Author.displayname) }}
          </figure>
        </a>
        <span class="app-header-title">{{- .Site.Title -}}</span>
        <p>
          {{- .Site.Params.description | default "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vehicula turpis sit amet elit pretium." -}}
        </p>
      </span>
      <span>
        {{- with site.Menus.main -}}
        <nav class="app-header-menu">
          {{- range $key, $item := . -}}
          {{- if ne $key 0 -}}
          {{- $.Site.Params.menu_item_separator | default " - " | safeHTML -}}
          {{- end -}}
          <a class="app-header-menu-item" href="{{- $item.URL -}}">{{- $item.Name -}}</a>
          {{- end -}}
        </nav>
        {{- end -}}
        {{- with site.Menus.sub -}}
        <nav class="app-header-menu">
          {{- range $key, $item := . -}}
          {{- if ne $key 0 -}}
          {{- $.Site.Params.menu_item_separator | default " - " | safeHTML -}}
          {{- end -}}
          <a class="app-header-menu-item" href="{{- $item.URL -}}">{{- $item.Name -}}</a>
          {{- end -}}
        </nav>
        {{- end -}}
      </span>
      {{- with .Site.Data.m10d.social -}}
      <div class="app-header-social">
        {{- range $name, $network := . -}}
        {{- $username := index $.Site.Author.social $name -}}
        {{- if $username -}}
        <a href="{{- printf $network.url $username -}}" target="_blank" rel="noreferrer noopener nofollow external me"
          title="{{- $network.title -}}">
          {{- partial "icon.html" (dict "ctx" $ "name" $network.icon "title" $network.title) -}}
        </a>
        {{- end -}}
        {{- end -}}
        {{- range $_, $entry := $.Site.Params.mastodon -}}
        {{- $url := printf "https://%s/@%s" $entry.server $entry.username }}
        {{- $title := printf "%s - Mastodon" $entry.title -}}
        <a href="{{ $url }}" target="_blank" rel="noreferrer noopener nofollow external me" title="{{ $title }}">
          {{- partial "icon.html" (dict "ctx" $ "name" "mastodon" "title" $title) -}}
        </a>
        {{- end -}}
      </div>
      {{- end -}}
    </header>
    <main class="app-container">
      {{ block "main" . -}}
      {{- .Content -}}
      {{- end }}
    </main>
    {{- partialCached "goatcounter" . .Site.Params.goatcounter -}}
  </body>

</html>