{{ define "main" }}
<article class="list">
  <h1>{{ .Title }}</h1>
  {{ with .Description -}}
  <blockquote>{{- . -}}</blockquote>
  {{- end }}
  <ul class="posts-list">
    {{ range where .Paginator.Pages "Type" "!=" "page" }}
    <li class="posts-list-item">
      <a class="posts-list-item-title" href="{{ .RelPermalink }}">{{ .Title }}</a>
      {{- with .Description -}}
      <span class="posts-list-item-subtitle">{{- . -}}</span>
      {{- end -}}
      {{/*  <p>{{ with .Summary }}{{ . }}{{ else }}{{ .Description }}{{ end }}</p> */}}
      <span class="posts-list-item-description">
        {{ partial "icon.html" (dict "ctx" $ "name" "calendar") }}
        {{ .PublishDate.Format "Jan 2, 2006" }}
        <span class="posts-list-item-separator">|</span>
        {{ partial "icon.html" (dict "ctx" $ "name" "clock") }}
        {{ printf "%d min read" .ReadingTime }}
        {{- with .Params.categories -}}
        <span class="posts-list-item-separator">|</span>
        {{- partial "icon.html" (dict "ctx" $ "name" "folder") -}}
        {{- range . -}}
        {{- with $.Site.GetPage (printf "/%s/%s" "categories" . ) -}}
        <a class="tag" href="{{ .RelPermalink }}">{{ .Title }}</a>
        {{- end -}}
        {{- end -}}
        {{- end -}}
        {{- with .Params.tags -}}
        <span class="posts-list-item-separator">|</span>
        {{ partial "icon.html" (dict "ctx" $ "name" "tag") }}
        {{- range . -}}
        {{ with $.Site.GetPage (printf "/%s/%s" "tags" . ) }}
        <a class="tag" href="{{ .RelPermalink }}">{{ .Title }}</a>
        {{- end }}
        {{- end }}
        {{- end }}
      </span>
    </li>
    {{ end }}
  </ul>
  {{ partial "pagination.html" . }}
</article>
{{ end }}