{{ define "main" }}
<article class="single" itemscope>
  {{- template "_internal/schema.html" . -}}
  <header class="post-header">
    {{ with .Resources.GetMatch "featured-image" -}}
    {{- $permalink := .Permalink -}}
    {{- $title := .Title -}}
    {{- $bgColor := "transparent" -}}
    {{- $source := "" -}}
    {{- with (.Exif | default (dict)) -}}
    {{- with (.Tags | default (dict)) -}}
    {{- $title = .ImageDescription | default (.Copyright | default $title) -}}
    {{- $bgColor = .Make | default $bgColor -}}
    {{- $source = .ImageUniqueID | default $source -}}
    {{- end -}}
    {{- end -}}
    <figure class="featured-image" style="background-color: {{- $bgColor -}};">
      <img src="{{- $permalink -}}" title="{{- $title -}}" />
      {{ with $title -}}
      <figcaption>
        {{ with $source -}}
        <a href="{{- $source -}}" target="_blank" rel="noreferrer noopener nofollow license external">{{- $title -}}</a>
        {{- else -}}
        {{- $title -}}
        {{- end }}
      </figcaption>
      {{- end }}
    </figure>
    {{- end }}
    <div class="post-header-content">
      <h1 class="post-title">{{ .Title }}</h1>
      {{ with .Description -}}
      <h2 class="post-subtitle">{{- . -}}</h2>
      {{- end }}
      {{- if ne .Type "page" }}
      <div class="post-meta">
        {{- partial "icon.html" (dict "ctx" $ "name" "calendar") -}}
        &nbsp;
        {{- .PublishDate.Format "Jan 2, 2006" -}}
        <span class="posts-list-item-separator">&nbsp;|&nbsp;</span>
        {{- partial "icon.html" (dict "ctx" $ "name" "clock") -}}
        &nbsp;
        {{- T "readingTime" .ReadingTime -}}
        {{- with .Params.categories -}}
        <span class="posts-list-item-separator">&nbsp;|&nbsp;</span>
        {{- partial "icon.html" (dict "ctx" $ "name" "folder") -}}
        {{- range . -}}
        {{- with $.Site.GetPage (printf "/%s/%s" "categories" . ) -}}
        &nbsp;<a class="tag" href="{{ .RelPermalink }}">{{ .Title }}</a>
        {{- end -}}
        {{- end -}}
        {{- end -}}
        {{- with .Params.tags -}}
        <span class="posts-list-item-separator">&nbsp;|&nbsp;</span>
        {{- partial "icon.html" (dict "ctx" $ "name" "tag") -}}
        {{- range . -}}
        {{- with $.Site.GetPage (printf "/%s/%s" "tags" . ) -}}
        &nbsp;<a class="tag" href="{{ .RelPermalink }}">{{ .Title }}</a>
        {{- end -}}
        {{- end -}}
        {{- end -}}
      </div>
      {{- end }}
    </div>
  </header>
  <div class="post-content">
    {{- partial "toc" . -}}
    {{ .Content }}
  </div>

  <footer class="post-footer">
    {{- if in site.Params.mainSections .Type -}}
    <nav>
      {{- with .PrevInSection -}}
      <a href="{{ .RelPermalink }}" class="prev" rel="prev" title="{{ .Title }}">
        {{- partial "icon.html" (dict "ctx" $ "name" "chevron-left") }}
        {{ .Title | emojify }}
      </a>
      {{- end -}}
      {{- with .NextInSection -}}
      <a href="{{ .RelPermalink }}" class="next" rel="next" title="{{ .Title }}">
        {{ .Title | emojify }}
        {{- partial "icon.html" (dict "ctx" $ "name" "chevron-right") }}
      </a>
      {{- end -}}
    </nav>
    {{- end -}}
    {{- partial "comments" . -}}
  </footer>
</article>
<hr />
<footer>
  <p>
    All opinions here are my own, based on my experiences. Take anything I say with a grain of salt.
  </p>
  <p>
    The content is neither endorsed nor promoted by anyone else unless explicitly mentioned.
  </p>
  {{- with .Site.Copyright -}}
  <p class="copyright">{{- printf . now.Year | safeHTML -}}</p>
  {{- end -}}
</footer>
{{ end }}