baseURL: https://artero.dev
title: William Artero
theme: m10d
defaultContentLanguage: en
enableGitInfo: true
enableEmoji: true
enableRobotsTXT: true
removePathAccents: true
paginate: 10
copyright: >-
  Copyright %d William Artero. Some rights reserved.

frontmatter:
  date:
  - :default
  - modifyDate
  - :fileModTime
  lastmod:
  - lastmod
  - modifyDate
  - :git
  - :fileModTime

outputs:
  home:
  - HTML
  - RSS
  # - ATOM
  - FEED
  page:
  - HTML
  section:
  - HTML
  term:
  - HTML
  - RSS
  # - ATOM
  - FEED

# https://github.com/gohugoio/hugo/blob/5c7b79cf7f00aa2651dd5f0364ee575af6715a31/resources/page/page_author.go#L20C21-L30
author:
  displayName: William Artero
  email: webmaster@artero.dev
  givenName: William
  familyName: Artero
  thumbnail: images/avatar.jpg
  image: images/avatar.jpg
  shortBio: automating a way out of tasks since 2010
  longBio: TODO
  social:
    github: wwmoraes
    linkedin: wwmoraes

pygmentsUseClasses: false
pygmentsCodeFences: true

sitemap:
  changefreq: weekly
  filename: sitemap.xml
  priority: 0.5

permalinks:
  posts: "posts/:filename"
  redirects: "/:filename"

module:
  mounts:
  - source: content
    target: content
    excludeFiles:
    - '*.md.tmpl'
    - '**/*.iuml'
    - '**/*.puml'
    - '**/*.png.json'
    - '**/*.jpg.json'
