description: automating a way out of tasks since 2010

mainSections:
- posts

menu_item_separator: " | "
social:
  # facebook_admin: ""
  twitter: wwmoraes

giscus:
  repo: wwmoraes/site
  repo_id: R_kgDOGhhRmQ # cspell:disable-line
  category: Comments
  category_id: DIC_kwDOGhhRmc4CUcmu # cspell:disable-line
  mapping: title
  strict: 0
  reactions_enabled: 1
  emit_metadata: 0
  input_position: top
  lang: en
  loading: lazy

goatcounter:
  code: artero

feed:
  # should be a 1:1 ratio file for small presentation
  icon: /icons/android-chrome-512x512.png
  # should be a 2:1 ratio file
  logo: /icons/android-chrome-512x512.png
