description: automating a way out of tasks since 2010
author: William Artero
avatar: /images/avatar.jpg
favicon: /favicon.ico

mainSections:
- posts

menu_item_separator: " | "
social:
- icon: github
  name: Github
  url: https://github.com/wwmoraes
- icon: linkedin
  name: LinkedIn
  url: https://linkedin.com/in/wwmoraes

giscus:
  repo: wwmoraes/site
  repo_id: R_kgDOGhhRmQ
  category: Comments
  category_id: DIC_kwDOGhhRmc4CUcmu
  mapping: pathname
  strict: 0
  reactions_enabled: 1
  emit_metadata: 0
  input_position: top
  lang: en
  loading: lazy

goatcounter:
  code: artero

feed:
  # should be a 1:1 ratio file for small presentation
  icon: /icons/android-chrome-512x512.png
  # should be a 2:1 ratio file
  logo: /icons/android-chrome-512x512.png

## powerline
# since: 2021
# licenses:
# - name: CC BY-SA 4.0
#   url: https://creativecommons.org/licenses/by-sa/4.0/
# - name: MIT
#   url: https://raw.githubusercontent.com/wwmoraes/site/master/LICENSE

## LoveIt
# gitRepo: https://github.com/wwmoraes/site
# fingerprint: sha512
# keywords:
# - william
# - artero
# - blog
# - engineer
# app:
#   title: Artero
#   noFavicon: false
#   manifest: /manifest.json
#   svgFavicon: /icons/logo.svg
#   # Android browser theme color
#   themeColor: "#2CBDFF"
#   # Safari mask icon color
#   iconColor: "#2CBDFF"
#   # Windows v8-10 tile color
#   tileColor: "#3D5A80"

# social:
#   GitHub: wwmoraes
#   Linkedin: wwmoraes
#   # Medium: ''
#   # Reddit: ''
#   # Codepen: ''
#   # FreeCodeCamp: ''
#   # Bitbucket: ''
#   # Stackoverflow: ''
#   # Hackernews: ''
#   # Slidershare: ''
#   # Jsfiddle: ''
#   # Mastodon: ''
#   # Devto: ''
#   # Matrix: ''
# verification:
#   google: ''
#   bing: ''
#   yandex: ''
#   pinterest: ''
#   baidu: ''
# analytics:
#   enable: true
#   google:
#     id: G-9SJTZ340TJ
#     anonymizeIP: true
