{{- define "head" }}
{{- $vcard := resources.Get "css/vcard.scss" | resources.ExecuteAsTemplate "css/vcard.scss" . | toCSS (dict "transpiler"
"dartsass") |
resources.Minify | resources.Fingerprint }}
<link rel="stylesheet" href="{{- $vcard.RelPermalink -}}" {{ printf "integrity=%q" $vcard.Data.Integrity | safeHTMLAttr
  }} />
{{- $opts :=dict "targetPath" "js/vcard.js" "format" "cjs" "minify" "true" }} {{- with resources.Get "js/vcard.ts" |
js.Build $opts | fingerprint }}
<script src="{{ .RelPermalink }}" {{ printf "integrity=%q" .Data.Integrity | safeHTMLAttr }} crossorigin="anonymous"
  async></script>
{{- end }}
{{- end }}
{{- define "main" }}
<section>
  {{ .Content }}
  <p role="status" data-status="indeterminate">
    <span aria-label="success">
      The contact card download will begin in an instant 🚀
    </span>

    <span aria-label="failure">
      Due to privacy/spam concerns, my direct contact details aren't widely available.<br />
      This page downloads my contacts if you get a magic link in-person from me 😉
    </span>
  </p>
  <noscript>
    <p>
      Please enable JavaScript to retrieve the contact card. 🤓
    </p>
  </noscript>
</section>
{{- end }}
