root = true

[*]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[.vscode/*.{json,code-snippets}]
insert_final_newline = false

[*.{html,json}]
insert_final_newline = false

[*.md]
trim_trailing_whitespace = false

[*.go]
indent_style = tab

[go.{mod,work}]
indent_style = tab

[.git*]
indent_style = tab

## generated content

[.frontmatter/database/*.json]
insert_final_newline = unset

[data/**/*.json]
insert_final_newline = unset
