root = true

[*]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[.meta/schemas/*.schema.json]
insert_final_newline = true

[*.html]
insert_final_newline = false

[*.md]
trim_trailing_whitespace = false

[*.go]
indent_style = tab

[go.{mod,work}]
indent_style = tab

[.git*]
indent_style = tab

[*.scss]
insert_final_newline = unset

## generated content

[.styles/**/*.{json,yml}]
insert_final_newline = unset
indent_style = unset
indent_size = unset

[.frontmatter/database/*.json]
insert_final_newline = unset

[data/**/*.json]
insert_final_newline = unset
