dotenv_if_exists .env
dotenv_if_exists .env.local

export GOBIN=$(expand_path bin)

if [[ "${CI}" != "" ]]; then
  export GOCACHE=$(expand_path .direnv/go/cache)
  export GOENV=$(expand_path .direnv/go/env)
  export GOMODCACHE=$(expand_path .direnv/go/pkg/mod)
fi

path_add GOPATH $(expand_path .direnv/go)

PATH_add $GOBIN
PATH_add $(expand_path node_modules/.bin)

use flake
