repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
  - id: check-added-large-files
  - id: check-case-conflict
  - id: check-merge-conflict
    args:
    - --assume-in-merge
  - id: check-vcs-permalinks
  - id: check-yaml
  - id: check-toml
  - id: detect-private-key
  - id: end-of-file-fixer
  - id: fix-byte-order-marker
  - id: mixed-line-ending
  - id: trailing-whitespace
- repo: https://github.com/editorconfig-checker/editorconfig-checker.python
  rev: 2.7.1
  hooks:
  - id: editorconfig-checker
    name: lint style
- repo: https://github.com/DavidAnson/markdownlint-cli2
  rev: v0.6.0
  hooks:
  - id: markdownlint-cli2
    name: lint markdown
- repo: https://github.com/pre-commit/mirrors-scss-lint
  rev: v0.59.0
  hooks:
  - id: scss-lint
    name: lint SCSS
ci:
  autofix_commit_msg: "style: pre-commit automatic fixes"
  autofix_prs: true
  autoupdate_commit_msg: "chore: pre-commit automatic update"
  autoupdate_schedule: weekly
  submodules: false
