repos:
- repo: https://github.com/streetsidesoftware/cspell-cli
  rev: v8.1.1
  hooks:
  - id: cspell
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.5.0
  hooks:
  - id: check-added-large-files
  - id: check-case-conflict
  - id: check-merge-conflict
    args:
    - --assume-in-merge
  - id: check-vcs-permalinks
  - id: check-yaml
  - id: check-toml
  - id: detect-private-key
  - id: fix-byte-order-marker
  - id: mixed-line-ending
  - id: trailing-whitespace
- repo: https://github.com/editorconfig-checker/editorconfig-checker.python
  rev: 2.7.3
  hooks:
  - id: editorconfig-checker
    name: lint style
- repo: https://github.com/DavidAnson/markdownlint-cli2
  rev: v0.11.0
  hooks:
  - id: markdownlint-cli2
    name: lint markdown
    exclude: |
      (?x)^(
        themes/.*|
        tmp/.*|
        content/_index.md
      )$
- repo: https://github.com/awebdeveloper/pre-commit-stylelint
  rev: '0.0.2'
  hooks:
  - id: stylelint
    name: lint SCSS
    additional_dependencies:
    - stylelint@16.0.2
    - stylelint-scss@6.0.0
    - stylelint-config-standard@35.0.0
    - stylelint-config-standard-scss@12.0.0
    args: [-f, compact]
- repo: https://github.com/tekwizely/pre-commit-golang
  rev: v1.0.0-rc.1
  hooks:
  - id: go-mod-tidy
    name: go mod tidy
  - id: my-cmd-repo-mod
    name: go fumpt
    args: [gofumpt, -l, -w, .]
  - id: golangci-lint-repo-mod
    name: golangci-lint
  - id: go-build-repo-mod
    name: go build
  - id: go-test-repo-mod
    name: go test
- repo: local
  hooks:
  - id: update-exif
    name: Update EXIF metadata
    entry: make exif
    language: system
    pass_filenames: false
    files: |
      (?x)^(
        content/.*/.*\.(png|jpg)\.json
      )$
  - id: update-radar
    name: Update radar
    entry: make radar
    language: system
    pass_filenames: false
    files: |
      (?x)^(
          content/radar/(?!_index).*\.md|
          content/radar/radar.svg.tmpl
      )$
ci:
  autofix_commit_msg: "style: pre-commit automatic fixes"
  autofix_prs: true
  autoupdate_commit_msg: "chore: pre-commit automatic update"
  autoupdate_schedule: weekly
  submodules: false
  skip:
  - go-build-repo-mod
  - go-mod-tidy
  - go-test-repo-mod
  - golangci-lint-repo-mod
  - my-cmd-repo-mod
  - update-exif
  - update-radar
