.frontmatter/* @wwmoraes
.github/* @wwmoraes
.task/* @wwmoraes
.vscode/* @wwmoraes

.codeclimate.yml @wwmoraes
.editorconfig @wwmoraes
.golangci.yaml @wwmoraes
.kodiak.toml @wwmoraes
.koji.toml @wwmoraes
.lefthook*.yaml @wwmoraes
.site.toml @wwmoraes
.stylelintrc.yaml @wwmoraes
.vale.ini @wwmoraes
CODEOWNERS @wwmoraes
flake.* @wwmoraes
frontmatter.json @wwmoraes
shell.nix @wwmoraes
