.github/* @wwmoraes
.make/* @wwmoraes
.meta/* @wwmoraes

.editorconfig @wwmoraes
.env* @wwmoraes
.golangci.yaml @wwmoraes
.kodiak.toml @wwmoraes
.markdown* @wwmoraes
.site.toml @wwmoraes
.stylelintrc.yaml @wwmoraes
.typos.toml @wwmoraes
.vale.ini @wwmoraes
CODEOWNERS @wwmoraes
Makefile @wwmoraes
cog.toml @wwmoraes
shell.nix @wwmoraes
treefmt.nix @wwmoraes
yarn.nix @wwmoraes
