{{ define "head" }}
{{- $radar := resources.Get "css/radar.scss" | resources.ExecuteAsTemplate "css/radar.scss" . | toCSS (dict "transpiler"
"dartsass") |
resources.Minify | resources.Fingerprint }}
<link rel="stylesheet" href="{{- $radar.RelPermalink -}}" {{ printf "integrity=%q" $radar.Data.Integrity | safeHTMLAttr
  }} />
{{- with (page.Resources.Get "radar.svg") }}
<link rel="preload" href="{{ .RelPermalink }}" as="image" type="image/svg+xml" />
{{- end }}
{{ end }}
{{ define "main" }}
{{- range $section := page.Params.sections -}}
{{- range $tier := page.Params.tiers -}}
{{- $.Scratch.Set (printf "%s %s" $section $tier) slice -}}
{{- end -}}
{{- end -}}
{{ range (where .Site.Pages "Type" "eq" "radar") -}}
{{- if not .IsSection -}}
{{- $.Scratch.Add (printf "%s %s" .Params.radarSection .Params.radarTier) . -}}
{{- end }}
{{- end }}
<header>
  <hgroup>
    <h1>{{ .Title }}</h1>
    {{ with .Description -}}
    <h2>{{- . -}}</h2>
    {{- end }}
  </hgroup>
</header>
{{ .Content }}
{{- with (page.Resources.Get "radar.svg") -}}
<object type="image/svg+xml" data="{{ .RelPermalink }}" aria-label="radar" title="{{ page.Params.radar.title }}" allow-same-origin>
  <img src="{{ .RelPermalink }}" title="{{ page.Params.radar.title }}" alt="{{ page.Params.radar.alt }}" />
</object>
{{- end }}
{{- range $section := page.Params.sections -}}
{{- with (page.Resources.Get "radar.svg") -}}
<object type="image/svg+xml" data="{{ .RelPermalink }}#{{ $section }}" aria-label="radar-section"
  title="{{ page.Params.radar.title }} ({{ $section }} section)" allow-same-origin>
  <img src="{{ .RelPermalink }}#{{ $section }}" title="{{ page.Params.radar.title }} - {{ $section }}"
    alt="{{ page.Params.radar.alt }} ({{ $section }} section)" />
</object>
{{- end }}
<details>
  <summary role="button" class="secondary">
    {{ $section | title }}
  </summary>
  {{- range $tier := page.Params.tiers -}}
  <h4>{{ $tier | title }}</h4>
  <ol>
    {{- range ($.Scratch.Get (printf "%s %s" $section $tier)) -}}
    <li value="{{ .Params.radarIndex }}">
      {{- $isWIP := or .Draft (not .RelPermalink) -}}
      {{- if $isWIP }}
      {{- .Title -}}&nbsp;<sup>WIP</sup>
      {{- else }}
      <a href="{{ .RelPermalink }}">
        {{- .Title -}}
      </a>
      {{- end -}}
    </li>
    {{- end -}}
  </ol>
  {{- end -}}
</details>
{{- end -}}
{{ end }}
