{{- with $.Site.Data.github.recents.releases -}}
<ul>
  {{- range $_, $repository := . -}}
  <li>
    <a href="{{- .Repository.URL -}}" title="{{- .Repository.NameWithOwner -}}"
      rel="noreferrer noopener nofollow external">
      {{- .Repository.NameWithOwner -}}
    </a>
    {{- print "&nbsp;(" | safeHTML -}}
    <a href="{{- .URL -}}" title="{{- .TagName -}}" rel="noreferrer noopener nofollow external">
      {{- .TagName -}}
    </a>
    {{- print ",&nbsp;" | safeHTML -}}
    {{- partial "moment" (time .PublishedAt) -}}
    {{- print ")&nbsp;-&nbsp;" | safeHTML -}}
    {{- .Repository.Description -}}
  </li>
  {{- end -}}
</ul>
{{- end -}}
