---
title: Hi there 👋
description: I'm William, a software and platform engineer that automates-all-the-things
---

## What am I working on 👨‍💻
{{ range recentContributions 10 }}
- [{{ .Repo.Name }}]({{ .Repo.URL }}) - {{ .Repo.Description }} ({{ humanize .OccurredAt }})
{{- end }}

## My pet projects 🌱
{{ range recentRepos 10 }}
- [{{ .Name }}]({{ .URL }}) - {{ .Description }}
{{- end }}

## Latest releases I have contributed to 🔭
{{ range recentReleases 10 }}
- [{{ .Name }}]({{ .URL }}) ([{{ .LastRelease.TagName }}]({{ .LastRelease.URL }}), {{ humanize .LastRelease.PublishedAt }}) - {{ .Description }}
{{- end }}

## My recent Pull Requests 🔨
{{ range recentPullRequests 10 }}
- [{{ .Title }}]({{ .URL }}) on [{{ .Repo.Name }}]({{ .Repo.URL }}) ({{ humanize .CreatedAt }})
{{- end }}

## Gists I wrote 📓
{{ range gists 5 }}
- [{{ .Description }}]({{ .URL }}) ({{ humanize .CreatedAt }})
{{- end }}

## Recent starred projects in GitHub ⭐
{{ range recentStars 10 }}
- [{{ .Repo.Name }}]({{ .Repo.URL }}) - {{ .Repo.Description }} ({{ humanize .StarredAt }})
{{- end }}

{{- $sponsors := sponsors 5 }}
{{- if gt (len $sponsors) 0 }}
### These awesome people sponsor me (thank you!) ❤️
{{ range $sponsors }}
- [{{ .User.Login }}]({{ .User.URL }}) ({{ humanize .CreatedAt }})
{{- end }}
{{- end }}
