{{/* source <filepath> [lang] [options]

source reads the file path, and parses it either through the highlight function
or mermaidJS. For mermaid, you either provide a file with the mmd extension, or
set mmd as the type. For any other types, the built-in highlight function will
be used.

Source sports some convention-over-configuration to simplify including code,
such as:
- lineAnchors option: defaults to the file name without the extension, so
anchors are unique on a page
- lang parameter: defaults to the file extension, and an empty string value
also gets replaced with it. You can trigger the native highlight's guess
syntax mechanism by passing a question mark. This allows you to call source
with options and still send the file extension as the language, instead of
relying on highlight's guess syntax:

{{< source my-code.c >}}
{{< source my-code.c "" "foo=bar" >}}

You can still trigger the guess syntax if needed:

{{< source my-code.custom "?" >}}
{{< source my-code.custom "?" "foo=bar" >}}

Or you can set the target language yourself the same way as with highlight:

{{< source my-code.custom "c" >}}
{{< source my-code.custom "c" "foo=bar" >}}
*/}}
{{- $sourceFilePath := path.Join .Page.File.Dir (.Get 0) -}}
{{- if not (fileExists $sourceFilePath) -}}
{{- errorf "source file '%s' does not exist" $sourceFilePath -}}
{{- else -}}
{{- $sourceFileName := path.Base $sourceFilePath -}}
{{- $sourceFileExt := path.Ext $sourceFilePath -}}
{{- $sourceFileTitle := strings.TrimSuffix $sourceFileExt $sourceFileName -}}
{{- $source := readFile $sourceFilePath -}}
{{- $lang := (.Get 1 | default (substr $sourceFileExt 1)) -}}
{{- $lang = cond (eq $lang "?") "" $lang -}}
{{- $defaultOptions := dict "lineAnchors" $sourceFileTitle -}}
{{- $mapOptions := newScratch -}}
{{- range $option := split (.Get 2 | default "") "," -}}
{{- $parts := split $option "=" -}}
{{- $mapOptions.Set (index $parts 0) (index $parts 1) -}}
{{- end -}}
{{- $finalOptions := slice -}}
{{- range $key, $value := merge $defaultOptions $mapOptions.Values -}}
{{- if and $key $value -}}
{{- $finalOptions = $finalOptions | append (printf "%s=%s" $key $value) -}}
{{- end -}}
{{- end -}}
{{- highlight $source $lang (delimit $finalOptions ",") -}}
{{- end -}}