body>header,
body>main,
body>footer {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: var(--pico-block-spacing-vertical) var(--pico-block-spacing-horizontal);
}

@media (min-width: 576px) {

  body>header,
  body>main,
  body>footer {
    max-width: 510px;
    padding-right: 0;
    padding-left: 0;
  }
}

@media (min-width: 768px) {

  body>header,
  body>main,
  body>footer {
    max-width: 700px;
  }
}

@media (min-width: 1024px) {

  body>header,
  body>main,
  body>footer {
    max-width: 950px;
  }
}

@media (min-width: 1280px) {

  body>header,
  body>main,
  body>footer {
    max-width: 1200px;
  }
}

@media (min-width: 1536px) {

  body>header,
  body>main,
  body>footer {
    max-width: 1450px;
  }
}