details {
  summary::after {
    // reset pico.css
    background-image: unset;
    background-position: unset;
    background-repeat: unset;
    background-size: unset;
    border-inline-start: unset;
    // SVG-free chevron :)
    content: "\276F";
    text-align: center;
    transform: rotate(0deg);
  }

  &[open] {
    >summary::after {
      transform: rotate(90deg);
    }
  }
}