.app-header {
  background: $darkest-color;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
  max-height: 100vh;
  min-height: 100vh;
  padding: 2em;
  text-align: center;
  box-shadow: 0 0 1rem 0.2rem rgba($darkest-color, 80%);
}

.app-header-avatar {
  aspect-ratio: 1;
  border: .5rem solid $primary-color;
  border-radius: 100%;
  display: inline-block;
  height: 100%;
  line-height: 15rem;
  max-height: 15rem;
  max-width: 15rem;
  min-height: 5rem;
  min-width: 5rem;
  width: 100%;
}

.app-container {
  footer {
    text-align: center;
    font-size: 0.8rem;

    .copyright {
      font-size: 0.6rem;
    }
  }
}

.app-header-social {
  --icon-size: 1.25em;

  align-items: center;
  color: $lightest-color;
  display: flex;
  font-size: 2em;
  justify-content: center;
  margin: .67em 0;

  > a {
    max-width: var(--icon-size, 1em);
    max-height: var(--icon-size, 1em);
    line-height: var(--icon-size, 1em);

    &:not(:last-child) {
      margin-right: .125em;
    }
  }
}

.app-header-title {
  color: $lightest-color;
  display: block;
  font-size: 2em;
  font-weight: bold;
  margin: .67em 0;
}

//// Small devices (portrait tablets and large phones)
// @media only screen and (min-width: 600px) {}

//// Medium devices (landscape tablets)
// @media only screen and (min-width: 768px) {}

//// Large devices (big tablets and portable screens)
@media only screen and (min-width: 992px) {
  .app-header {
    left: 0;
    position: fixed;
    top: 0;
    width: 20rem;
  }

  .app-container {
    margin-left: 20rem;
    max-width: calc(100vw - 20rem);
  }
}

//// Extra large devices (desktops)
// @media only screen and (min-width: 1200px) {}
