@import "app";
@import "error_404";
@import "post";
@import "posts_list";
@import "tag";
@import "tags_list";

.counter {
  height: 1px;
  left: -1px;
  position: absolute;
  top: -1px;
  width: 1px;
}
