.post-header {
  .post-header-content {
    padding: 2rem 2rem 0;
  }
}

.post-title {
  color: $lightest-color;
  margin: 0 0 .25em;
}

.post-subtitle {
  font-size: 1rem;
  font-style: italic;
  font-weight: normal;
  margin: 0 0 .5em;
}

.post-meta {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: .2em;

  >.icon,
  >svg {
    vertical-align: middle;
  }
}

.featured-image {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;

  > img, > picture img {
    aspect-ratio: 2/1 auto;
    height: auto;
    max-height: 600px;
    max-width: 1200px;
    object-fit: contain;
    width: 100%;
  }

  figcaption {
    padding: 0.5ex;
  }
}

.post-content {
  padding: 0 2rem;

  >pre,
  .highlight {
    margin: 1em 0;
  }

  >pre,
  .highlight>pre,
  .highlight>div {
    border-left: .4em solid rgba($primary-color, .8);
    padding: 0;
  }

  p, .img {
    img, svg {
      max-width: 100%;
      overflow-x: auto;
      margin: 0 auto;
      display: block;
    }
  }

  blockquote {
    background: $darkest-color;
    border-left: .4em solid rgba($primary-color, .8);
    flex-direction: column;
    margin: 1em 0;
    padding: .5em 1em;

    p {
      margin: .5em 0;
    }
  }

  figure {
    display: block;

    figcaption {
      font-size: 0.9em;
      font-style: italic;
      text-align: center;
    }
  }

  a > h1,
  a > h2,
  a > h3,
  a > h4,
  a > h5,
  a > h6 {
    &::before {
      content: "ยง ";
      color: $primary-color;
      text-decoration: none;
      transition: color .35s;
    }

    &:hover {
      &::before {
        color: $lightest-color;
      }
    }
  }

  table {
    border-collapse: collapse;

    thead {
      background-color: lighten($darkest-color, 4);
    }

    tbody {
      background-color: lighten($darkest-color, 8);
    }

    th, td {
      border: 1px solid;
      padding: 1ex;
      border-color: darken($darkest-color, 12);
    }

    tr:nth-child(even) {
      background-color: lighten($darkest-color, 12);
    }
  }

}

.single {
  .content {
    padding: 2rem;
  }

  .giscus {
    padding-top: 1rem;
  }
}

.post-footer {
  clear: both;
  padding: 0 2rem;

  .end-marker {
    background-color: $light-color;
    color: $dark-color;
    font-size: 1.2rem;
  }

  nav {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    gap: 1rem;
    justify-content: space-between;
  }
}



@media (min-width: 992px) {
  .post-footer {
    nav {
      flex-direction: row;
    }
  }
}

@keyframes hh {
  from {
    background: $primary-color;
  }

  to {
    background: unset;
  }
}
