.tags-list {
  padding: 0;
}

.tags-list-item {
  align-items: center;
  display: flex;
  list-style: none;
  padding: .4em 0;

  >.icon {
    margin-right: .4em;
  }

  &:not(:last-child) {
    border-bottom: 1px dashed rgba($lightest-color, .3);
  }
}

@media (min-width: 450px) {
  .tags-list {
    display: flex;
    flex-wrap: wrap;
  }

  .tags-list-item {
    width: calc(50% - 1em);

    &:nth-child(even) {
      margin-left: 1em;
    }

    &:nth-last-child(2) {
      border: 0;
    }
  }
}
