$admonition-type-color-map: (
  abstract: #00b0ff,
  bug: #f50057,
  danger: #ff1744,
  edit: #448aff,
  example: #651fff,
  failure: #ff5252,
  info: #00b8d4,
  note: #448aff,
  question: #64dd17,
  quote: #9e9e9e,
  success: #00c853,
  tip: #00bfa5,
  warning: #ff9100,
  ) !default;
$admonition-fallback-color: #6f8cb2 !default;

.admonition {
  display: inline-block;
  margin: 1rem 0;
  background-color: #{$admonition-fallback-color}1a;
  border-left: .25rem solid #{$admonition-fallback-color};
  width: 100%;

  .title {
    padding: .25rem .75rem;
    background-color: #{$admonition-fallback-color}1a;

    svg {
      vertical-align: middle;
      color: #{$admonition-fallback-color};
    }
  }

  .content {
    padding: .25rem .75rem;
  }

  @each $type,
  $color in $admonition-type-color-map {
    &.#{$type} {
      background-color: #{$color}1a;
      border-left: .25rem solid #{$color};

      .title {
        background-color: #{$color}1a;

        svg {
          color: #{$color};
        }
      }
    }
  }
}
