// reduce indentation to 2 spaces :D
html {
  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;
}

img[aria-label="avatar"] {
  --size: 128px;

  aspect-ratio: 1;
  border-radius: 100%;
  border: var(--theme-primary-500) 2px solid;
  float: right;
  height: var(--size);
  margin: 0 0 var(--pico-spacing) var(--pico-spacing);
  padding: 1px;
  width: var(--size);
}