@import "_mixin/_link";

#header-desktop .header-wrapper {
  padding: 0 2rem;
}

.single {
  .post-meta {
    @include link(false, false);
    margin: .5rem 0 1rem;
  }

  .post-footer {
    .post-info {
      .post-info-line {
        flex-direction: column;
      }
    }
  }
}

.home[posts] {
  .summary {
    border-bottom-style: dotted; // test without !important

    .content {
      @include link(true, true);
    }

    .post-footer .post-tags {
      @include link(false, false);
      max-width: 100%;
    }
  }
}

#content-404 {
  transform: none;
  -webkit-transform: none;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-size: 1.2rem;
  min-height: 70vh;
}

footer {
  min-height: 2rem;
  height: fit-content;
  padding: 0.25rem;
  width: auto;
}

/* Small devices (portrait tablets and large phones) */
@media only screen and (min-width: 600px) {
  #content-404 {
    font-size: 1.8rem;
  }

  footer {
    padding: 0.25rem;
    width: auto;
  }
}

/* Medium devices (landscape tablets) */
@media only screen and (min-width: 768px) {
  .single {
    .post-footer {
      .post-info {
        .post-info-line {
          flex-direction: row;
        }
      }
    }
  }
}

/* Large devices (big tablets and portable screens) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (desktops) */
@media only screen and (min-width: 1200px) {}
