@import "theme.scss";

// ==============================
// Variables
// ==============================

// ========== Global ========== //
$global-font-family: Fira Code, system-ui, -apple-system, BlinkMacSystemFont, PingFang SC, Microsoft YaHei UI, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
$global-font-size: 16px;
$global-font-weight: 400;
$global-line-height: 1.5rem;

// Color of the background
$global-background-color: theme-get("text", 100);
$global-background-color-dark: theme-get("background", 600);

// Color of the text
$global-font-color: theme-get("background", 800);
$global-font-color-dark: theme-get("text", 200);

// Color of the secondary text
$global-font-secondary-color: theme-get("background", 700);
$global-font-secondary-color-dark: theme-get("text", 300);

// Color of the link
$global-link-color: theme-get("highlight", 900);
$global-link-color-dark: theme-get("highlight", 50);

// Color of the hover link
$global-link-hover-color: theme-get("primary", 900);
$global-link-hover-color-dark: theme-get("primary", 500);

// Color of the border
$global-border-color: theme-get("background", 900);
$global-border-color-dark: theme-get("text", 50);
// ========== Global ========== //

// ========== Scrollbar ========== //
// Color of the scrollbar
$scrollbar-color: #87878d;

// Color of the hover scrollbar
$scrollbar-hover-color: #a9a9b3;
// ========== Scrollbar ========== //

// ========== Selection ========== //
// Color of the selected text
$selection-color: theme-get("highlight", 100);
$selection-color-dark: theme-get("highlight", 900);
// ========== Selection ========== //

// ========== Header ========== //
// Height of the header
$header-height: 3.5rem;

// Color of the header background
$header-background-color: theme-get("text", 50);
$header-background-color-dark: theme-get("muted", 600);

// Font style of the header title
$header-title-font-family: $global-font-family;
$header-title-font-size: 1.5rem;

// Color of the hover header item
$header-hover-color: #161209;
$header-hover-color-dark: #fff;

// Color of the search background
$search-background-color: #e9e9e9;
$search-background-color-dark: #363636;
// ========== Header ========== //

// ========== Single Content ========== //
// Font size of the TOC
$toc-title-font-size: 1.2rem;
$toc-content-font-size: 1rem;

// Color of the single link
$single-link-color: darken(theme-get("primary", 500), 30%);
$single-link-color-dark: theme-get("primary", 500);

// Color of the hover single link
$single-link-hover-color: darken(theme-get("complement", 500), 30%);
$single-link-hover-color-dark: theme-get("complement", 500);

// Color of the table background
$table-background-color: #fff;
$table-background-color-dark: #272c34;

// Color of the table thead
$table-thead-color: #ededed;
$table-thead-color-dark: #20252b;

// Color of the blockquote
$blockquote-color: #6bd6fd;
$blockquote-color-dark: #59c5ec;
// ========== Single Content ========== //

// ========== Pagination ========== //
// Color of the link in pagination
$pagination-link-color: darken(theme-get("primary", 500), 30%);
$pagination-link-color-dark: theme-get("primary", 500);

// Color of the hover link in pagination
$pagination-link-hover-color: darken(theme-get("primary", 500), 30%);
$pagination-link-hover-color-dark: theme-get("primary", 500);
// ========== Pagination ========== //

// ========== Code ========== //
// Color of the code
$code-color: #E74C3C;
$code-color-dark: #E5BF78;

// Color of the code background
$code-background-color: #f5f5f5;
$code-background-color-dark: #272C34;

$code-info-color: #9c9c9c;
$code-info-color-dark: #b1b0b0;

// Font size of the code
$code-font-size: .875rem;

// Font family of the code
$code-font-family: Fira Mono, Source Code Pro, Menlo, Consolas, Monaco, monospace, $global-font-family;

$code-highlight-color-map-dark: (
  /* Parentheses */ 'p': #D4D4D4,
  /* Keyword */ 'k': #569CD6,
  /* KeywordConstant */ 'kc': #569CD6,
  /* KeywordDeclaration */ 'kd': #569CD6,
  /* KeywordReserved */ 'kr': #569CD6,
  /* KeywordNamespace */ 'kn': #4EC9B0,
  /* KeywordPseudo */ 'kp': #569cd6,
  /* KeywordType */ 'kt': #4EC9B0,
  /* Operator */ 'o': #D4D4D4,
  /* OperatorWord */ 'ow': #d371e3,
  /* NameConstant */ 'no': #4FC1FF,
  /* NameFunction */ 'nf': #DCDCAA,
  /* NameOther */ 'nx': #DCDCAA,
  /* NameClass */ 'nc': #4EC9B0,
  /* NameBuiltin */ 'nb': #9CDCFE,
  /* LiteralString */ 's': #ce9178,
  /* LiteralStringAffix */ 'sa': #ce9178,
  /* LiteralStringBacktick */ 'sb': #ce9178,
  /* LiteralStringChar */ 'sc': #ce9178,
  /* LiteralStringDelimiter */ 'dl': #ce9178,
  /* LiteralStringDoc */ 'sd': #ce9178,
  /* LiteralStringDouble */ 's2': #ce9178,
  /* LiteralStringEscape */ 'se': #ce9178,
  /* LiteralStringHeredoc */ 'sh': #ce9178,
  /* LiteralStringInterpol */ 'si': #ce9178,
  /* LiteralStringOther */ 'sx': #ce9178,
  /* LiteralStringRegex */ 'sr': #ce9178,
  /* LiteralStringSingle */ 's1': #ce9178,
  /* LiteralStringSymbol */ 'ss': #ce9178,
  /* Literal */ 'l': #b5cea8,
  /* LiteralDate */ 'ld': #b5cea8,
  /* LiteralNumber */ 'm': #b5cea8,
  /* LiteralNumberBin */ 'mb': #b5cea8,
  /* LiteralNumberFloat */ 'mf': #b5cea8,
  /* LiteralNumberHex */ 'mh': #b5cea8,
  /* LiteralNumberInteger */ 'mi': #b5cea8,
  /* LiteralNumberIntegerLong */ 'il': #b5cea8,
  /* LiteralNumberOct */ 'mo': #b5cea8,
  /* Comment */ 'c': #608B4E,
  /* CommentHashbang */ 'ch': #608B4E,
  /* CommentMultiline */ 'cm': #608B4E,
  /* CommentSingle */ 'c1': #608B4E,
  /* CommentSpecial */ 'cs': #608B4E,
  /* CommentPreproc */ 'cp': #608B4E,
  /* CommentPreprocFile */ 'cpf': #608B4E,

  /* NameBuiltinPseudo */ 'bp': #4EC9B0,
  /* Name */ 'n': #9CDCFE,
  /* NameAttribute */ 'na': #4EC9B0,
  /* NameDecorator */ 'nd': #D9E577,
  /* NameEntity */ 'ni': #9cdcfe,
  /* NameException */ 'ne': #9cdcfe,
  /* NameFunctionMagic */ 'fm': #9CDCFE,
  /* NameLabel */ 'nl': #9cdcfe,
  /* NameNamespace */ 'nn': #9cdcfe,
  /* NameProperty */ 'py': #4EC9B0,
  /* NameTag */ 'nt': #9cdcfe,
  /* NameVariable */ 'nv': #9cdcfe,
  /* NameVariableClass */ 'vc': #9cdcfe,
  /* NameVariableGlobal */ 'vg': #9cdcfe,
  /* NameVariableInstance */ 'vi': #9cdcfe,
  /* NameVariableMagic */ 'vm': #9cdcfe,

  /* Generic */ 'g': #f16372,
  /* GenericDeleted */ 'gd': #f16372,
  /* GenericEmph */ 'ge': #f16372,
  /* GenericError */ 'gr': #f16372,
  /* GenericHeading */ 'gh': #f16372,
  /* GenericInserted */ 'gi': #f16372,
  /* GenericOutput */ 'go': #f16372,
  /* GenericPrompt */ 'gp': #f16372,
  /* GenericStrong */ 'gs': #f16372,
  /* GenericSubheading */ 'gu': #f16372,
  /* GenericTraceback */ 'gt': #f16372,
  /* TextWhitespace */ 'w': #D4D4D4,
);
// ========== Code ========== //
