$primary: (
  50: #5eefff,
  100: #54e5ff,
  200: #4adbff,
  300: #40d1ff,
  400: #36c7ff,
  500: #2cbdff,
  600: #22b3f5,
  700: #18a9eb,
  800: #0e9fe1,
  900: #0495d7,
);
$complement: (
  50: #ff803d,
  100: #ff7633,
  200: #ff6c29,
  300: #ff621f,
  400: #ff5815,
  500: #ff4e0b,
  600: #f54401,
  700: #eb3a00,
  800: #e13000,
  900: #d72600,
);
$secondary: (
  50: #6f8cb2,
  100: #6582a8,
  200: #5b789e,
  300: #516e94,
  400: #47648a,
  500: #3d5a80,
  600: #335076,
  700: #29466c,
  800: #1f3c62,
  900: #153258,
);
$background: (
  50: #666774,
  100: #5c5d6a,
  200: #525360,
  300: #484956,
  400: #3e3f4c,
  500: #343542,
  600: #2a2b38,
  700: #20212e,
  800: #161724,
  900: #0c0d1a,
);
$text: (
  50: #e7edf2,
  100: #dde3e8,
  200: #d3d9de,
  300: #c9cfd4,
  400: #bfc5ca,
  500: #b5bbc0,
  600: #abb1b6,
  700: #a1a7ac,
  800: #979da2,
  900: #8d9398,
);
$accent: (
  50: #6ea0a3,
  100: #649699,
  200: #5a8c8f,
  300: #508285,
  400: #46787b,
  500: #3c6e71,
  600: #326467,
  700: #285a5d,
  800: #1e5053,
  900: #144649,
);
$muted: (
  50: #5f5f5f,
  100: #555,
  200: #4b4b4b,
  300: #414141,
  400: #373737,
  500: #2d2d2d,
  600: #232323,
  700: #191919,
  800: #0f0f0f,
  900: #050505,
);
$highlight: (
  50: #a8adc3,
  100: #9ea3b9,
  200: #9499af,
  300: #8a8fa5,
  400: #80859b,
  500: #767b91,
  600: #6c7187,
  700: #62677d,
  800: #585d73,
  900: #4e5369,
);
$info: (
  50: #79b2ff,
  100: #6fa8ff,
  200: #659ef5,
  300: #5b94eb,
  400: #518ae1,
  500: #4780d7,
  600: #3d76cd,
  700: #336cc3,
  800: #2962b9,
  900: #1f58af,
);
$success: (
  50: #52f187,
  100: #48e77d,
  200: #3edd73,
  300: #34d369,
  400: #2ac95f,
  500: #20bf55,
  600: #16b54b,
  700: #0cab41,
  800: #02a137,
  900: #00972d,
);
$warning: (
  50: #fef032,
  100: #f4e628,
  200: #eadc1e,
  300: #e0d214,
  400: #d6c80a,
  500: #ccbe00,
  600: #c2b400,
  700: #b8aa00,
  800: #aea000,
  900: #a49600,
);
$error: (
  50: #ff7a65,
  100: #ff705b,
  200: #ff6651,
  300: #ff5c47,
  400: #f5523d,
  500: #eb4833,
  600: #e13e29,
  700: #d7341f,
  800: #cd2a15,
  900: #c3200b,
);
$help: (
  50: #fff8b9,
  100: #ffeeaf,
  200: #ffe4a5,
  300: #f9da9b,
  400: #efd091,
  500: #e5c687,
  600: #dbbc7d,
  700: #d1b273,
  800: #c7a869,
  900: #bd9e5f,
);
$theme: (
  primary: $primary,
  complement: $complement,
  secondary: $secondary,
  background: $background,
  text: $text,
  accent: $accent,
  muted: $muted,
  highlight: $highlight,
  info: $info,
  success: $success,
  warning: $warning,
  error: $error,
  help: $help,
);

@function theme-get($name, $weight) {
  @return map-get(map-get($theme, $name), $weight);
}
