{{- $authorNames := slice -}}
{{- range .author -}}
{{- $name := replaceRE "^([^,]+), ([A-Z]).*$" "$2. $1" .name -}}
{{- $authorNames = $authorNames | append $name -}}
{{- end -}}

{{- $author := slice -}}
{{- with first (sub (len $authorNames) 1) $authorNames -}}
{{- $author = $author | append (delimit . ", ") -}}
{{- end -}}
{{- $author = $author | append (last 1 $authorNames) -}}
{{- $author = delimit $author " and " -}}

{{- $title := .name -}}
{{- $city := .locationCreated.address.addressRegion | default "Unknown city" -}}
{{- $country := .locationCreated.address.addressCountry | default "Unknown country" -}}
{{- $publisher := .publisher.name | default "Unknown publisher" -}}
{{- $year := .copyrightYear | default 0 -}}

{{- return (printf "%s, <i>%s</i>. %s, %s: %s, %04d." $author $title $city $country $publisher $year | safeHTML) -}}