{{ with resources.Get site.Params.assets.favicons.svg -}}
<link rel="icon" type="image/svg+xml" href="{{ .RelPermalink }}" />
{{ else -}}
{{ erroridf "favicon-svg-missing" "'%s' not found" site.Params.assets.favicons.svg -}}
{{ end -}}

{{ with resources.Get site.Params.assets.maskIcon.svg -}}
{{- /* TODO use parameter for the color + erroridf when unset */}}
<link rel="mask-icon" href="{{ .RelPermalink }}" color="#2cbdff" />
{{ else -}}
{{ erroridf "mask-icon-svg-missing" "'%s' not found" site.Params.assets.maskIcon.svg -}}
{{ end -}}

{{ with resources.Get site.Params.assets.appleTouchIcon -}}
<link rel="apple-touch-icon" sizes="180x180" href="{{ .RelPermalink }}" />
{{ else -}}
{{ erroridf "apple-touch-icon-missing" "'%s' not found" site.Params.assets.appleTouchIcon -}}
{{ end -}}

{{ $favicon := (or site.Params.assets.static.favicon "static/favicon.ico") -}}
{{ if fileExists $favicon -}}
<link rel="shortcut icon" href="{{ $favicon | strings.TrimPrefix "static" }}" />
{{ else -}}
{{ erroridf "favicon-ico-missing" "'%s' not found" $favicon -}}
{{ end -}}
<link rel="manifest" type="application/manifest+json" href="/manifest.webmanifest" />