{{/* the first entry is a fallback for the twitter and opengraph templates */}}
{{- range site.Params.images }}
{{-   with resources.Get . }}
{{-     $_ := .Publish }}
{{-   end }}
{{- end }}
{{- template "_internal/twitter_cards.html" . }}
{{- template "_internal/opengraph.html" . }}

{{- with site.Params.social.facebook_app_id }}
<meta property="fb:app_id" content="{{ . }}" />
{{- end }}

{{- with resources.Get "images/brand/thumbnail.png" }}
<meta name="thumbnail" content="{{ .RelPermalink }}" />
{{- else }}
{{- warnf "thumbnail.png not found" }}
{{- end }}

{{- template "_internal/schema.html" . }}
{{- $keywords := partial "function/keywords" . }}
<meta name="keywords" content="{{ $keywords }}" />
<link rel="canonical" href="{{- .Permalink -}}" />
{{- range .AlternativeOutputFormats }}
<link rel="{{ .Rel }}" type="{{ .MediaType.Type | htmlUnescape | safeHTMLAttr }}" href="{{ .Permalink | safeURL }}" />
{{- end }}
{{- with $.Site.Params.mastodon }}
{{- range $_, $entry := . }}
{{- $url := printf "https://%s/@%s" $entry.server $entry.username }}
<link rel="me" href="{{ $url }}" />
{{- end }}
{{- end }}
<script type="application/ld+json">
  {{- if .IsHome -}}
    {{- partial "function/schema/webSite.html" . -}}
  {{- else if .IsPage -}}
    {{- if in site.Params.mainSections .Type -}}
      {{- partial "function/schema/blogPosting.html" . -}}
    {{- else -}}
      {{- partial "function/schema/webPage.html" . -}}
    {{- end -}}
  {{- end -}}
</script>