<link rel="canonical" href="{{- .Permalink -}}" />
{{- with .Site.Author.displayname }}
<meta name="author" content="{{- . -}}" />
{{- end }}
<meta name="description" content="{{- .Description | default .Site.Params.description -}}" />
<script type="application/ld+json">
  {{- if .IsHome -}}
    {{- partial "function/schema/webSite.html" . -}}
  {{- else if .IsPage -}}
    {{- if in site.Params.mainSections .Type -}}
      {{- partial "function/schema/blogPosting.html" . -}}
    {{- else -}}
      {{- partial "function/schema/webPage.html" . -}}
    {{- end -}}
  {{- end -}}
</script>
