{{ $prelude := resources.Get "css/prelude.scss" | resources.ExecuteAsTemplate "css/prelude.scss" . | resources.ToCSS | resources.Minify | resources.Fingerprint -}}
{{ $style := resources.Get "css/main.scss" | resources.ExecuteAsTemplate "css/main.scss" . | resources.ToCSS | resources.Minify | resources.Fingerprint -}}
{{ $opts := dict "targetPath" "js/styles.js" "format" "cjs" "minify" "true" -}}
{{ $styleLoader := resources.Get "js/styles.ts" | js.Build $opts | fingerprint -}}

<link rel="stylesheet" href="{{- $prelude.RelPermalink -}}"
  {{ printf "integrity=%q" $prelude.Data.Integrity | safeHTMLAttr }} />
<link rel="preload" href="{{- $style.RelPermalink -}}" as="style"
  {{ printf "integrity=%q" $style.Data.Integrity | safeHTMLAttr }} />
<script src="{{ $styleLoader.RelPermalink }}" {{ printf "integrity=%q" $styleLoader.Data.Integrity | safeHTMLAttr }}
  crossorigin="anonymous" async></script>
<noscript>
  <link rel="stylesheet" href="{{- $style.RelPermalink -}}"
    {{ printf "integrity=%q" $style.Data.Integrity | safeHTMLAttr }} />
</noscript>