aside:has(>nav#TableOfContents) {
  padding: var(--pico-spacing);
  background-color: var(--pico-background-color);
  margin: 0 0 var(--pico-spacing);

  >label {
    display: none;
  }

  li {
    &::before {
      content: "\00A7\00A0";
    }

    a {
      display: inline-block;
    }

    >ul {
      margin-left: var(--pico-spacing);
    }
  }


  @media (min-width: 768px) {
    display: block;
    float: right;
    clear: both;
    margin: 0 0 0 var(--pico-spacing);
  }
}

/* TODO TOC
label[for=TableOfContents] {
  position: fixed;
  transform-origin: center;
  padding: .125lh;
  bottom: 0;
  left: 50vw;
  transform: translateX(-50%);
}

nav#TableOfContents {
  position: fixed;
  transform-origin: center;
  bottom: 1.5lh;
  left: 50vw;
  transform: translateX(-50%);
  background-color: var(--theme-background-50);

  ul {
    list-style-type: 'ยง ';
    margin-block: 0;
    padding-block: 0;
    flex-direction: column;

    li a {
      display: block;
      line-height: 48px;
    }

    li::marker {
      font-weight: bold;
    }
  }
}
*/