// cspell:disable

$global-font-family: "Fira Code", "Fira Mono", "Source Code Pro", menlo, monaco, "Courier New", courier, monospace !default;
$code-font-family: "Fira Code", "Fira Mono", "Source Code Pro", menlo, monaco, "Courier New", courier, monospace !default;
$font-family: "Fira Code", "Fira Mono", "Source Code Pro", menlo, monaco, "Courier New", courier, monospace !default;
$global-font-family-vf: "Fira Code VF", $global-font-family;
$code-font-family-vf: "Fira Code VF", $code-font-family;
$font-family-vf: "Fira Code VF", $font-family;

// general colors
$dark-color: #353b43 !default;
$darkest-color: #242930 !default;
$light-color: #afbac4 !default;
$lightest-color: #fff !default;
$primary-color: #57cc8a !default;
