{{- define "head" }}
<meta name="robots" content="noindex" />
{{-   with resources.Get "css/vcard.css" | minify | fingerprint }}
{{-     site.Store.SetInMap  "csp-style-src" .RelPermalink (printf "'%s'" .Data.Integrity) }}
        <link rel="stylesheet" href="{{- .RelPermalink -}}" {{ printf "integrity=%q" .Data.Integrity | safeHTMLAttr }} />
{{-   end }}
{{-   $opts := dict "targetPath" "js/vcard.js" "format" "cjs" "minify" "true" }}
{{-   with resources.Get "js/vcard.ts" | js.Build $opts | fingerprint }}
{{-     site.Store.SetInMap  "csp-script-src" .RelPermalink (printf "'%s'" .Data.Integrity) }}
        <script src="{{ .RelPermalink }}" {{ printf "integrity=%q" .Data.Integrity | safeHTMLAttr }} crossorigin="anonymous" async></script>
{{-   end }}
{{- end }}

{{- define "main" }}
<header>
  <hgroup>
    {{- partial "page/breadcrumb" . }}
  </hgroup>
  <h1>{{ .Title }}</h1>
</header>
<section>
  {{ .Content }}
  <p role="status" data-status="indeterminate">
    <span aria-label="success">
      {{- /* chomp */ -}}
      The contact card download will begin in an instant 🚀
      {{- /* chomp */ -}}
    </span>
    {{- /* chomp */ -}}
    <span aria-label="failure">
      {{- /* chomp */ -}}
      Due to privacy/spam concerns, my direct contact details aren't widely available.
      This page downloads my contacts if you get a magic link in-person from me 😉
      {{- /* chomp */ -}}
    </span>
  </p>
  <noscript>
    <p>
      {{- /* chomp */ -}}
      Please enable JavaScript to retrieve the contact card. 🤓
      {{- /* chomp */ -}}
    </p>
  </noscript>
</section>
{{- end }}
