<nav aria-label="details">
  <ul>
    <li>
      <u role="presentation">&#128197;</u>
      {{- $datetime := .PublishDate.Format "2006-01-02T15:04:05-07:00" }}
      <time datetime="{{ $datetime | safeHTMLAttr }}">
        {{- .PublishDate.Format "2 Jan 2006" -}}
      </time>
    </li>
    <li>
      <u role="presentation">&#128337;</u>
      <span>
        {{- T "readingTime" .ReadingTime -}}
      </span>
    </li>
    {{- with .Params.categories -}}
    {{- range . -}}
    {{- with $.Site.GetPage (printf "/%s/%s" "categories" . ) -}}
    <li>
      <u role="presentation">&#128218;</u>
      <a href="{{ .RelPermalink }}" rel="category">{{ .LinkTitle }}</a>
    </li>
    {{- end -}}
    {{- end -}}
    {{- end -}}
    {{- with .Params.tags -}}
    {{- range . -}}
    {{- with $.Site.GetPage (printf "/%s/%s" "tags" . ) -}}
    <li>
      <u role="presentation">&#127991;</u>
      <a href="{{ .RelPermalink }}" rel="tag">{{ .LinkTitle }}</a>
    </li>
    {{- end -}}
    {{- end -}}
    {{- end -}}
  </ul>
</nav>
