{{- define "main" -}}
<article class="single">
  <div class="content">
    {{- if .Content -}}
    <h1>{{- .Title -}}</h1>
    {{- with .Description -}}
    <blockquote>
      <p>{{- . -}}</p>
    </blockquote>
    {{- end -}}
    {{- end -}}
    {{- if .Site.RegularPages -}}
    <h2 id="posts">
      <a href="#posts">§</a>
      Posts 📝
    </h2>
    {{- $paginator := .Paginate (where .RegularPagesRecursive "Type" "in" site.Params.mainSections) 3 -}}
    <ul class="posts-list">
      {{- range $paginator.Pages -}}
      <li class="posts-list-item">
        <a class="posts-list-item-title" href="{{- .RelPermalink -}}">{{- .Title -}}</a>
        <span class="posts-list-item-description">
          {{- partial "icon.html" (dict "ctx" $ "name" "calendar") -}}
          {{- .PublishDate.Format "Jan 2, 2006" -}}
          <span class="posts-list-item-separator">|</span>
          {{- partial "icon.html" (dict "ctx" $ "name" "clock") -}}
          {{- T "readingTime" .ReadingTime -}}
          {{- with .Params.categories -}}
          <span class="posts-list-item-separator">|</span>
          {{- partial "icon.html" (dict "ctx" $ "name" "folder") -}}
          {{- range . -}}
          {{- with $.Site.GetPage (printf "/%s/%s" "categories" . ) -}}
          <a class="tag" href="{{- .RelPermalink -}}">{{- .Title -}}</a>
          {{- end -}}
          {{- end -}}
          {{- end -}}
          {{- with .Params.tags -}}
          <span class="posts-list-item-separator">|</span>
          {{- partial "icon.html" (dict "ctx" $ "name" "tag") -}}
          {{- range . -}}
          {{- with $.Site.GetPage (printf "/%s/%s" "tags" . ) -}}
          <a class="tag" href="{{- .RelPermalink -}}">{{- .Title -}}</a>
          {{- end -}}
          {{- end -}}
          {{- end -}}
        </span>
      </li>
      {{- end -}}
    </ul>
    {{- partial "pagination.html" . -}}
    {{- end -}}
    {{- if .Content -}}
    {{- .Content | safeHTML -}}
    {{- end -}}
  </div>
</article>
{{- end -}}