<picture>
  {{- with .image | images.Filter (images.Process "resize 300x webp lanczos") }}
  <source media="(max-width: 300px)" srcset="{{ .RelPermalink }}" type="image/webp" />
  {{- end }}
  {{- with .image | images.Filter (images.Process "resize 300x png lanczos") }}
  <source media="(max-width: 300px)" srcset="{{ .RelPermalink }}" type="image/png" />
  {{- end }}
  {{- with .image | images.Filter (images.Process "resize 600x webp lanczos") }}
  <source media="(max-width: 600px)" srcset="{{ .RelPermalink }}" type="image/webp" />
  {{- end }}
  {{- with .image | images.Filter (images.Process "resize 600x png lanczos") }}
  <source media="(max-width: 600px)" srcset="{{ .RelPermalink }}" type="image/png" />
  {{- end }}
  {{- with .image | images.Filter (images.Process "resize 900x webp lanczos") }}
  <source media="(max-width: 900px)" srcset="{{ .RelPermalink }}" type="image/webp" />
  {{- end }}
  {{- with .image | images.Filter (images.Process "resize 900x png lanczos") }}
  <source media="(max-width: 900px)" srcset="{{ .RelPermalink }}" type="image/png" />
  {{- end }}
  {{- with .image | images.Filter (images.Process "resize 1200x webp lanczos") }}
  <source media="(min-width: 901px)" srcset="{{ .RelPermalink }}" type="image/webp" />
  {{- end }}
  {{- with .image | images.Filter (images.Process "resize 1200x png lanczos") }}
  <source media="(min-width: 901px)" srcset="{{ .RelPermalink }}" type="image/png" />
  {{- end }}
  <img src="{{- .image.Permalink -}}" alt="{{- .alt | default .title -}}" title="{{- .title -}}" />
</picture>
