name: Build
on:
  push:
    paths:
    - .github/workflows/build.yaml
    - .task/*.yaml
    - cmd/*
    - go.mod
    - go.sum
    - internal/*
    - pkg/*
    - shell.nix
    - Taskfile.yaml
  pull_request:
    types:
    - synchronize
    - reopened
    - opened
    paths-ignore:
    - .github/workflows/build.yaml
    - .task/*.yaml
    - cmd/*
    - go.mod
    - go.sum
    - internal/*
    - pkg/*
    - shell.nix
    - Taskfile.yaml
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: checkout
      uses: actions/checkout@v4
    - name: direnv nix
      uses: JRMurr/direnv-nix-action@v4.1.0
      with:
        install-nix: true
        cache-store: false
        extra_nix_config: |-
          extra-substituters = https://wwmoraes.cachix.org
          extra-trusted-public-keys = wwmoraes.cachix.org-1:N38Kgu19R66Jr62aX5rS466waVzT5p/Paq1g6uFFVyM=
    - name: cache go
      uses: wwmoraes/actions/golang/cache@master
    - name: download modules
      run: go mod download -x
    - name: build
      run: task build
    - name: deliver
      uses: actions/upload-artifact@v4
      with:
        name: site-binary
        path: bin/site
