name: Build
on:
  push:
    paths:
    - .github/workflows/build.yaml
    - .task/*.yaml
    - cmd/*
    - flake.lock
    - flake.nix
    - go.mod
    - go.sum
    - internal/*
    - pkg/*
    - shell.nix
    - Taskfile.yaml
  pull_request:
    types:
    - synchronize
    - reopened
    - opened
    paths-ignore:
    - .github/workflows/build.yaml
    - .task/*.yaml
    - cmd/*
    - flake.lock
    - flake.nix
    - go.mod
    - go.sum
    - internal/*
    - pkg/*
    - shell.nix
    - Taskfile.yaml
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: checkout
      uses: actions/checkout@v4
    - name: direnv nix
      uses: JRMurr/direnv-nix-action@v4.1.0
      with:
        install-nix: true
        cache-store: true
    - name: set golang environment variables
      id: golang
      uses: wwmoraes/actions/golang/env@master
    - name: cache modules
      uses: pat-s/always-upload-cache@v3
      with:
        path: ${GOMODCACHE}
        key: ${{ runner.os }}-modules-${{ hashFiles('go.sum') }}
        restore-keys: |
          ${{ runner.os }}-modules-${{ hashFiles('go.sum') }}
          ${{ runner.os }}-modules-
    - name: download modules
      run: go mod download
    - name: cache build
      uses: pat-s/always-upload-cache@v3
      with:
        path: ${GOCACHE}
        key: ${{ runner.os }}-build-${{ hashFiles('**/*.go') }}
        restore-keys: |
          ${{ runner.os }}-build-${{ hashFiles('**/*.go') }}
          ${{ runner.os }}-build-
    - name: build
      run: task build
    - name: deliver
      uses: actions/upload-artifact@v3
      with:
        name: site-binary
        path: bin/site
