name: Integration
on:
  push:
    paths-ignore:
    - .frontmatter/*
    - .vscode/*
  pull_request:
    types:
    - synchronize
    - reopened
    - opened
    paths:
    - .frontmatter/*
    - .vscode/*
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
jobs:
  check:
    runs-on: ubuntu-latest
    steps:
    - name: checkout
      uses: actions/checkout@v4
    - name: direnv nix
      uses: JRMurr/direnv-nix-action@v4.1.0
      with:
        install-nix: true
        cache-store: false
        extra_nix_config: |-
          extra-substituters = https://wwmoraes.cachix.org
          extra-trusted-public-keys = wwmoraes.cachix.org-1:N38Kgu19R66Jr62aX5rS466waVzT5p/Paq1g6uFFVyM=
    - name: configure repository
      run: task configure
    - name: check
      run: task check -- --all-files --no-tty
    - name: assert clean repository
      run: test -z "$(git diff --shortstat | head -c1)"
    - name: upload golangci-lint SARIF
      uses: github/codeql-action/upload-sarif@v2
      if: ${{ hashFiles('golangci-lint.sarif') != '' }}
      with:
        sarif_file: golangci-lint.sarif
        category: golangci-lint
        token: ${{ secrets.GITHUB_TOKEN }}
