name: Integration
on:
  push:
    paths-ignore:
    - .frontmatter/*
    - .github/*
    - .vscode/*
  pull_request:
    types:
    - synchronize
    - reopened
    - opened
    paths:
    - .frontmatter/*
    - .github/*
    - .vscode/*
env:
  GOLANG_VERSION: 1.21
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
jobs:
  check:
    runs-on: ubuntu-latest
    steps:
    - name: checkout
      uses: actions/checkout@v4
    - name: setup golang
      uses: actions/setup-go@v3
      with:
        go-version: ${{ env.GOLANG_VERSION }}
    - name: install nix
      uses: DeterminateSystems/nix-installer-action@main
    - name: check flake
      uses: DeterminateSystems/flake-checker-action@main
    - name: install environment
      run: nix develop -c true
    - name: cache nix
      uses: DeterminateSystems/magic-nix-cache-action@main
    - name: configure repository
      run: nix develop -c task configure
    - name: pre-commit checks
      run: nix develop -c lefthook run pre-commit --all-files --no-tty
      env:
        REVIEWDOG_GITHUB_API_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    - name: pre-push checks
      run: nix develop -c lefthook run pre-push --all-files --no-tty
    - name: assert clean repository
      run: test -z "$(git diff --shortstat | head -c1)"
    - name: upload golangci-lint SARIF
      uses: github/codeql-action/upload-sarif@v2
      if: ${{ hashFiles('golangci-lint.sarif.json') != '' }}
      with:
        sarif_file: golangci-lint.sarif.json
        category: Continuous Integration
        token: ${{ secrets.GITHUB_TOKEN }}
