name: Update
on:
  push:
    paths:
    - .github/workflows/update.yaml
    branches:
    - master
  schedule:
    - cron: "0 8 */1 * *"
  workflow_dispatch:
  workflow_run:
    workflows: [Build]
    branches: [master]
    types: [completed]
permissions:
  contents: write
  pull-requests: write
jobs:
  update:
    name: Update
    runs-on: ubuntu-latest
    env:
      BRANCH_NAME: chore/data-update/${{ github.run_id }}-${{ github.run_attempt }}
    steps:
    - name: checkout
      uses: actions/checkout@v4
    - name: direnv nix
      uses: JRMurr/direnv-nix-action@v4.1.0
      with:
        install-nix: true
        cache-store: false
        extra_nix_config: |-
          extra-substituters = https://wwmoraes.cachix.org
          extra-trusted-public-keys = wwmoraes.cachix.org-1:N38Kgu19R66Jr62aX5rS466waVzT5p/Paq1g6uFFVyM=
    - name: download artifact
      id: download-artifact
      uses: dawidd6/action-download-artifact@v3
      with:
        workflow: build.yaml
        workflow_conclusion: success
        branch: master
        name: site-binary
        path: /usr/local/bin
        allow_forks: false
    - name: chmod
      run: chmod +x /usr/local/bin/site
    - name: update data
      run: site data update
      env:
        GITHUB_TOKEN: ${{ secrets.PERSONAL_GITHUB_TOKEN }}
    - name: commit changes
      id: commit
      uses: stefanzweifel/git-auto-commit-action@v4
      with:
        commit_message: |-
          chore: updated site data

          Signed-off-by: github-actions[bot] <41898282+github-actions[bot]@users.noreply.github.com>
        commit_user_name: github-actions[bot]
        commit_user_email: 41898282+github-actions[bot]@users.noreply.github.com
        commit_author: github-actions[bot] <41898282+github-actions[bot]@users.noreply.github.com>
        branch: ${{ env.BRANCH_NAME }}
        create_branch: true
        file_pattern: data
    - name: create pull request
      if: steps.commit.outputs.changes_detected == 'true'
      run: |-
        if ! gh pr view --json id ${BRANCH_NAME} > /dev/null 2>&1; then
          gh pr create -f --label automerge
        else
          gh pr edit --add-label automerge
        fi
      env:
        GH_TOKEN: ${{ github.token }}
        BRANCH_NAME: ${{ env.BRANCH_NAME }}
