name: Update

on:
  push:
    paths:
    - .github/workflows/update.yml
  schedule:
    - cron: "0 8 */1 * *"
  workflow_dispatch:
  workflow_run:
    workflows: [Build]
    branches: [master]
    types: [completed]

env:
  GOLANG_VERSION: 1.21

permissions:
  contents: write
  pull-requests: write

jobs:
  update:
    name: Update
    runs-on: ubuntu-latest
    if: ${{ github.ref == 'refs/heads/master' }}
    env:
      BRANCH_NAME: chore/data-update/${{ github.run_id }}-${{ github.run_attempt }}
    steps:

      - name: checkout
        uses: actions/checkout@v4

      - name: download artifact
        id: download-artifact
        uses: dawidd6/action-download-artifact@v3
        with:
          workflow: build.yaml
          workflow_conclusion: success
          branch: master
          name: site-binary
          path: /usr/local/bin
          allow_forks: false

      - name: chmod
        run: chmod +x /usr/local/bin/site

      - name: update data
        run: site data update
        env:
          GITHUB_TOKEN: ${{ secrets.PERSONAL_GITHUB_TOKEN }}

      - name: commit changes
        uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: |-
            chore: updated site data

            Signed-off-by: github-actions[bot] <41898282+github-actions[bot]@users.noreply.github.com>
          commit_user_name: github-actions[bot]
          commit_user_email: 41898282+github-actions[bot]@users.noreply.github.com
          commit_author: github-actions[bot] <41898282+github-actions[bot]@users.noreply.github.com>
          branch: ${{ env.BRANCH_NAME }}
          create_branch: true
          file_pattern: data

      - name: create pull request
        run: |-
          git checkout ${BRANCH_NAME}
          if ! gh pr view --json id ${BRANCH_NAME} > /dev/null 2>&1; then
            gh pr create -B master -f --label automerge
          else
            gh pr edit -B master --add-label automerge
          fi
        env:
          GH_TOKEN: ${{ github.token }}
          BRANCH_NAME: ${{ env.BRANCH_NAME }}
